@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">to</h1>
    <h1 class="display-4">Web App Tasking</h1>
</div>
